repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [markdown]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-imports
        args:
          - "-local"
          - "go.mau.fi/mautrix-meta"
          - "-w"
      - id: go-vet-mod
      - id: go-staticcheck-repo-mod

  - repo: https://github.com/beeper/pre-commit-go
    rev: v0.4.2
    hooks:
      - id: zerolog-ban-msgf
      - id: zerolog-use-stringer
