# Which service is this bridge for? Available options:
# * unset - allow users to pick any service when logging in (except facebook-tor)
# * facebook - connect to FB Messenger via facebook.com
# * facebook-tor - connect to FB Messenger via facebookwkhpilnemxj7asaniu7vnjjbiltxjqhye3mhbshg7kx5tfyd.onion
# * messenger - connect to FB Messenger via messenger.com (can be used with the facebook side deactivated)
# * messenger-lite - connect to FB Messenger via Messenger iOS API
# * instagram - connect to Instagram DMs via instagram.com
#
# Remember to change the appservice id, bot profile info, bridge username_template and management_room_text too.
mode:
# Should users be allowed to pick messenger.com login when mode is set to `facebook`?
allow_messenger_com_on_fb: false

# When in Instagram mode, should the bridge connect to WhatsApp servers for encrypted chats?
# In FB/Messenger mode encryption is always enabled, this option only affects Instagram mode.
ig_e2ee: false

# Displayname template for FB/IG users. Available variables:
#  .DisplayName - The display name set by the user.
#  .Username - The username set by the user.
#  .ID - The internal user ID of the user.
displayname_template: '{{or .DisplayName .Username "Unknown user"}}'

# Static proxy address (HTTP or SOCKS5) for connecting to Meta.
proxy:
# HTTP endpoint to request new proxy address from, for dynamically assigned proxies.
# The endpoint must return a JSON body with a string field called proxy_url.
get_proxy_from:
# Should media be proxied too?
proxy_media: false
# Minimum interval between full reconnects in seconds, default is 1 hour
min_full_reconnect_interval_seconds: 3600
# Interval to force refresh the connection (full reconnect), default is 20 hours. Set 0 to disable force refreshes.
force_refresh_interval_seconds: 72000
# Should connection state be cached to allow quicker restarts?
cache_connection_state: false
# Disable fetching XMA media (reels, stories, etc) when backfilling.
disable_xma_backfill: true
# Disable fetching XMA media entirely.
disable_xma_always: false
# Should the bridge mark you as online when you send typing
# notifications? Currently, this only has an effect for E2EE chats on
# Facebook/Messenger. Full presence bridging is not supported.
send_presence_on_typing: false
# Should the bridge, when operating in Instagram mode, subscribe to an
# additional websocket to receive typing indicators from other users?
# An additional connection is only needed for receiving Instagram
# typing indicators; the existing connection(s) are sufficient to send
# and receive typing indicators in all other cases.
receive_instagram_typing_indicators: true
# Should view-once messages be disabled entirely?
disable_view_once: false

# Thread backfill settings for syncing older conversations
thread_backfill:
  # Number of batches (pages) to backfill (-1 for unlimited, 0 to disable)
  batch_count: -1
  # Delay between fetching each batch of threads (to avoid rate limiting)
  batch_delay: 2s
